<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary headerHeight">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Accueil</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/liste" routerLinkActive="active" >Liste</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/gestion" routerLinkActive="active">Gestion</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/projecthome" routerLinkActive="active">projecthome</a>
      </li>
    </ul>
</nav>
-->
<div class="border-b-2 border-gray-100">
  <div class="mx-auto max-w-7xl px-6">
    <div class="flex items-center justify-between py-6 md:justify-start md:space-x-10">
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a routerLink="/home" routerLinkActive="active">
          <img class="h-8 w-auto sm:h-10" src="assets/mycook.png">
        </a>
      </div>
      <a routerLink="/home" routerLinkActive="active" class="text-2xl font-medium text-orange-400 hover:text-orange-500 hover:no-underline">MyCook</a>
      <div *ngIf="!authService.isAuthenticated()" class="hidden items-center justify-end md:flex md:flex-1 lg:w-0">
        <a routerLink="/login" routerLinkActive="active" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900 hover:no-underline">Sign in</a>
        <a routerLink="/register" routerLinkActive="active" class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-md border border-transparent bg-orange-400 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-orange-500 hover:no-underline">Sign up</a>
      </div>
      <div *ngIf="authService.isAuthenticated()" class="hidden items-center justify-end md:flex md:flex-1 lg:w-0">
        <a routerLink="/favorite" routerLinkActive="active" class="cursor-pointer ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-md border border-transparent bg-orange-400 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-orange-500 hover:no-underline">
          <svg class="fill-current w-auto h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <path
              d="M15.786 29.755h-.001c-.281 0-.537-.111-.724-.292L3.182 17.985a.333.333 0 0 1-.046-.046v-.001a10.145 10.145 0 0 1-2.608-6.55v-.013c0-5.035 3.861-9.13 8.608-9.13a8.154 8.154 0 0 1 6.763 3.699l.019.031c1.463-2.239 3.949-3.705 6.778-3.73h.004c4.695 0 8.347 4.012 8.347 9.13v.1c0 2.467-.888 4.728-2.361 6.479l.013-.015-.068.073L16.486 29.49a1.04 1.04 0 0 1-.696.266h-.003zM4.663 16.535l11.133 10.753L27.175 16.53a8.052 8.052 0 0 0 1.785-5.073v-.086.004c0-3.949-2.749-7.043-6.261-7.043-2.546 0-4.826 1.68-5.807 4.283a1.045 1.045 0 0 1-1.949.007l-.002-.007c-.981-2.603-3.261-4.283-5.807-4.283-3.595 0-6.521 3.162-6.521 7.043a8.176 8.176 0 0 0 2.058 5.168l-.007-.009zm23.263.72z">

            </path>
          </svg>
        </a>
        <p class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-md px-4 py-2 text-base font-medium text-orange-400 ">{{authService.authenticatedUser?.email}}</p>
        <a (click)="handleLogout()" class="cursor-pointer ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-md border border-transparent bg-orange-400 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-orange-500 hover:no-underline">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
          <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg></a>
      </div>
    </div>
</div>
</div>
