<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary headerHeight">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Accueil</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/liste" routerLinkActive="active" >Liste</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/gestion" routerLinkActive="active">Gestion</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/projecthome" routerLinkActive="active">projecthome</a>
      </li>
    </ul>
</nav>
-->
<div>
  <div class="mx-auto max-w-7xl px-6">
    <div class="flex items-center justify-between py-6 md:justify-start md:space-x-10">
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a routerLink="/home" routerLinkActive="active">
          <img class="h-8 w-auto sm:h-10" src="assets/mycook.png">
        </a>
      </div>
      <a routerLink="/home" routerLinkActive="active" class="text-2xl font-medium text-orange-400 hover:text-orange-500 hover:no-underline">MyCook</a>
      <div class="hidden items-center justify-end md:flex md:flex-1 lg:w-0">
        <a href="#" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900 hover:no-underline">Sign in</a>
        <a href="#" class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-md border border-transparent bg-orange-400 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-orange-500 hover:no-underline">Sign up</a>
      </div>
    </div>
</div>
</div>


