<nav class="navbar navbar-expand-lg navbar-dark bg-secondary" style="height: 15%;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Accueil</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/liste" routerLinkActive="active" >Liste</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/gestion" routerLinkActive="active">Gestion</a>
      </li>
    </ul>
</nav>


