<div class="d-flex align-items-center justify-content-center">
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="m-4 p-4 w-50 border-secondary card ">

  <div class="form-row">
    <div class="col form-group">
      <label>Prénom</label>
      <input type="text" class="form-control" formControlName="firstName" aria-describedby="firstNameWarning">
      <span *ngIf="contactForm.get('firstName')?.errors?.['required']">
        <small id="firstNameWarning" class="form-text text-danger">Veuillez renseignez votre Prénom</small>
      </span>
    </div>
    <div class="col form-group">
      <label>Nom</label>
      <input type="text" aria-describedby="lastNameWarning" class="form-control" formControlName="lastName">
      <span *ngIf="contactForm.get('lastName')?.errors?.['required']">
        <small id="lastNameWarning" class="form-text text-danger">Veuillez renseignez votre Nom</small>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label>Age</label>
    <input type="number" class="form-control w-50" formControlName="age">
  </div>

  <div class="form-row">
      <div class="form-group">
        <input  type="checkbox" formControlName="ishideEmail" (change)="checkboxRequired()">
        <label>Hide</label>
      </div>
    <div class="col">
      <div *ngIf="!contactForm.get('ishideEmail')?.value">
        <input type="email" aria-describedby="emailWarning" class="form-control" formControlName="email" placeholder="Email">
        <span *ngIf="contactForm.get('email')?.errors?.['required']">
          <small id="emailWarning" class="form-text text-danger">Veuillez renseignez votre mail</small>
        </span>
        <span *ngIf="contactForm.get('email')?.errors?.['pattern']">
          <small id="emailWarning" class="form-text text-danger">Veuillez renseignez un mail valide</small>
        </span>
      </div>
    </div>
  </div>


  <div class="form-group">
    <label>Commentaire</label>
    <textarea aria-describedby="commentaryWarning" class="form-control" formControlName="comment"></textarea>
    <span *ngIf="contactForm.get('comment')?.errors?.['required']">
    <small id="commentaryWarning" class="form-text text-danger">Veuillez mettre un commentaire</small>
    </span>
    </div>
  <button type="submit" class="btn btn-primary mb-2" [disabled]="!contactForm.valid">Envoyer</button>
</form>
</div>
<app-footer></app-footer>