<div>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <label>Prénom:</label>
  <input type="text" formControlName="firstName" required>
  <label>Nom:</label>
  <input type="text" formControlName="lastName" required>
  <label>Age:</label>
  <input type="number" formControlName="age">
  <div>
    <input type="checkbox" formControlName="hideEmail">
    <label>Hide</label>
  </div>
  <label>Commentaire:</label>
  <textarea formControlName="comment" required></textarea>
  <button type="submit" [disabled]="!contactForm.valid">Envoyer</button>
</form>
</div>
