<div class="container-fluid px-1 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
      <div class="card">
        <form class="form-card">
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Prénom<span class="text-danger"> *</span></label> <input type="text" id="prenom" name="prenom" placeholder="Entrez votre prénom"> </div>
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Nom<span class="text-danger"> *</span></label> <input type="text" id="nom" name="nom" placeholder="Entrer votre nom"> </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Email<span class="text-danger"> *</span></label> <input type="text" id="email" name="email" placeholder="Entrez votre e-mail"> </div>
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Âge<span class="text-danger"> *</span></label> <input type="number" id="age" name="age" placeholder="Entrez votre âge"> </div>
          </div>
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Cacher l'email</label> <input type="checkbox" id="check" name="check"> </div>
            <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Commentaire<span class="text-danger"> *</span></label> <input type="text" id="commentaire" name="commentaire"> </div>
          </div>
          <div class="row justify-content-end">
            <div class="form-group col-sm-6"> <button type="submit" class="btn-block btn-primary">Envoyer</button> </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
