<section>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-white rounded-lg shadow  md:mt-0 sm:max-w-maxw xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
          Sign in to your account
        </h1>
        <div class="text-danger" *ngIf="errorMessage">{{errorMessage}}</div>
        <form [formGroup]="userFormGroup" (ngSubmit)="handleLogin()" class="space-y-4 md:space-y-6">
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Your email</label>
            <input formControlName="email" type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-orange-400 focus:border-orange-400 block w-full p-2.5">
          </div>
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
            <input formControlName="password" type="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-orange-400 focus:border-orange-400 block w-full p-2.5">
          </div>
          <button type="submit" class="w-full text-white bg-orange-400 hover:bg-orange-500 focus:outline-none font-medium rounded-lg text-base px-5 py-2.5 text-center ">Sign in</button>
          <p class="text-sm font-light text-gray-500">
            Don’t have an account yet? <a routerLink="/register" routerLinkActive="active" class=" font-medium text-orange-400 hover:underline">Sign up</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
