<div [@enterLeaveBackground] *ngIf="isMenuOpen" class="fixed inset-0 bg-black bg-opacity-60 transition-opacity"></div>
<button #toggleButton (click)="toggleMenu()"
        class="w-3/4 focus:outline-0 mb-4 inline-flex items-center justify-center whitespace-nowrap rounded-md border border-transparent bg-orange-400 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-orange-500 hover:no-underline">
  <h1>Cart</h1>
</button>

<div [@enterLeaveTrigger] #menu *ngIf="isMenuOpen" class="fixed inset-y-0 right-0 flex max-w-full">
  <div class=" sidebar max-w-md">
    <div class="flex h-full flex-col bg-white shadow-xl">
      <div class="flex-1 overflow-y-auto py-6 px-4 sm:px-6">
        <div class="flex items-start justify-between">
          <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Shopping cart</h2>
          <div class="ml-3 flex h-7 items-center">
            <button type="button" class="-m-2 p-2 text-gray-400 hover:text-gray-500" (click)="toggleMenu()">
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                   stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
              </svg>
            </button>
          </div>
        </div>

        <div class="mt-8 min-w-400">
          <div class="flow-root">
            <ul role="list" class="-my-6 divide-y divide-gray-200">

              <li *ngFor="let cartItem of shoppingCart; index as i" class="flex py-6">
                <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                  <img src="{{cartItem.strMealThumb}}"
                       class="h-full w-full object-cover object-center">
                </div>

                <div class="ml-4 flex flex-1 flex-col">
                  <div>
                    <div class="flex justify-between text-base font-medium text-gray-900">
                      <h3>
                        <a routerLink="/details/{{cartItem.idMeal}}" routerLinkActive="active">{{cartItem.strMeal}}</a>
                      </h3>
                    </div>
                  </div>
                  <div class="flex flex-1 items-end justify-between text-sm">
                    <p></p>
                    <div class="flex">
                      <button (click)="removeCart(i)" type="button"
                              class="font-medium text-orange-400 hover:text-orange-500">Remove
                      </button>
                    </div>
                  </div>
                </div>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <div class="border-t bg-gray-50 border-gray-200 py-6 px-4 sm:px-6">
        <div class="flex justify-between text-base font-medium text-gray-900">
          <p>Subtotal</p>
          <p>{{price}}€</p>
        </div>
        <div class="mt-6">
          <a href="#"
             class="flex items-center justify-center rounded-md border border-transparent bg-orange-400 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-orange-500">Checkout</a>
        </div>
      </div>
    </div>
  </div>
</div>
