<ul class="list-group text-center">
    <li class="list-group-item">Avatar</li>
    <li class="list-group-item">Avengers: Endgame</li>
    <li class="list-group-item">Titanic</li>
    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Link with href
        </a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Button with data-target
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    <li class="list-group-item">Star Wars, épisode VII : Le Réveil de la Force</li>
    <li class="list-group-item">Avengers: Infinity War</li>
  </ul>