.wrapper {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  background-color: white;

  @media (min-width: 32rem) {
    grid-template-columns: 250px minmax(10px, 1fr);
  }
}

aside {
  overflow-y: auto;
  max-height: 80vh;
  position: sticky;
  top: 70px;
  align-self: start;
  background-color: white;
}
