<div>
  <ul class=" shadow-xl border-b-2 bg-white border-gray-100 flex justify-center sticky top-0">
    <li>
      <a href="#"
         class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-full  px-4 py-2 text-xs font-medium  hover:bg-gray-200 hover:no-underline hover:text-black">Tout</a>
    </li>
    <li>
      <a href="#"
         class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-full  px-4 py-2 text-xs font-medium  hover:bg-gray-200 hover:no-underline hover:text-black">Boeuf</a>
    </li>
    <li>
      <a href="#"
         class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-full  px-4 py-2 text-xs font-medium hover:bg-gray-200 hover:no-underline hover:text-black">Boeuf</a>
    </li>
    <li>
      <a href="#"
         class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-full  px-4 py-2 text-xs font-medium  hover:bg-gray-200 hover:no-underline hover:text-black">Boeuf</a>
    </li>
    <li>
      <a href="#"
         class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-full  px-4 py-2 text-xs font-medium hover:bg-gray-200 hover:no-underline hover:text-black">Boeuf</a>
    </li>
    <li>
      <a href="#"
         class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-full  px-4 py-2 text-xs font-medium  hover:bg-gray-200 hover:no-underline hover:text-black">Boeuf</a>
    </li>
    <li>
      <a href="#"
         class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-full  px-4 py-2 text-xs font-medium hover:bg-gray-200 hover:no-underline hover:text-black">Boeuf</a>
    </li>
  </ul>
  <div>
    <main class="mx-16 px-4">
      <section class="pt-6 pb-4">
        <div class="wrapper">
          <aside>
            <h2>Sidebar</h2>
            <nav>
              <div>
                <h3>Categories</h3>
                <ul role="list" class="space-y-4 border-b border-gray-200 pb-6 text-sm font-medium text-gray-900">
                  <li>
                    <a href="#">Totes</a>
                  </li>

                  <li>
                    <a href="#">Backpacks</a>
                  </li>

                  <li>
                    <a href="#">Travel Bags</a>
                  </li>

                  <li>
                    <a href="#">Hip Bags</a>
                  </li>

                  <li>
                    <a href="#">Laptop Sleeves</a>
                  </li>
                </ul>

                <div class="border-b border-gray-200 py-6">
                  <h3 class="-my-3 flow-root">
                    <!-- Expand/collapse section button -->
                    <button type="button"
                            class="flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500"
                            aria-controls="filter-section-0" aria-expanded="false">
                      <span class="font-medium text-gray-900">Color</span>
                      <span class="ml-6 flex items-center">
                    <!--
                      Expand icon, show/hide based on section open state.

                      Heroicon name: mini/plus
                    -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                         aria-hidden="true">
                      <path
                        d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"/>
                    </svg>
                        <!--
                          Collapse icon, show/hide based on section open state.

                          Heroicon name: mini/minus
                        -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                         aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                            clip-rule="evenodd"/>
                    </svg>
                  </span>
                    </button>
                  </h3>
                  <!-- Filter section, show/hide based on section state. -->
                  <div class="pt-6" id="filter-section-0">
                    <div class="space-y-4">
                      <div class="flex items-center">
                        <input id="filter-color-0" name="color[]" value="white" type="checkbox"
                               class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                        <label for="filter-color-0" class="ml-3 text-sm text-gray-600">White</label>
                      </div>

                      <div class="flex items-center">
                        <input id="filter-color-1" name="color[]" value="beige" type="checkbox"
                               class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                        <label for="filter-color-1" class="ml-3 text-sm text-gray-600">Beige</label>
                      </div>

                      <div class="flex items-center">
                        <input id="filter-color-2" name="color[]" value="blue" type="checkbox" checked
                               class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                        <label for="filter-color-2" class="ml-3 text-sm text-gray-600">Blue</label>
                      </div>

                      <div class="flex items-center">
                        <input id="filter-color-3" name="color[]" value="brown" type="checkbox"
                               class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                        <label for="filter-color-3" class="ml-3 text-sm text-gray-600">Brown</label>
                      </div>

                      <div class="flex items-center">
                        <input id="filter-color-4" name="color[]" value="green" type="checkbox"
                               class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                        <label for="filter-color-4" class="ml-3 text-sm text-gray-600">Green</label>
                      </div>

                      <div class="flex items-center">
                        <input id="filter-color-5" name="color[]" value="purple" type="checkbox"
                               class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                        <label for="filter-color-5" class="ml-3 text-sm text-gray-600">Purple</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="border-b border-gray-200 py-6">
                  <h3 class="-my-3 flow-root">
                    <!-- Expand/collapse section button -->
                    <button type="button"
                            class="flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500"
                            aria-controls="filter-section-1" aria-expanded="false">
                      <span class="font-medium text-gray-900">Category</span>
                      <span class="ml-6 flex items-center">
                    <!--
                      Expand icon, show/hide based on section open state.

                      Heroicon name: mini/plus
                    -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                         aria-hidden="true">
                      <path
                        d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"/>
                    </svg>
                        <!--
                          Collapse icon, show/hide based on section open state.

                          Heroicon name: mini/minus
                        -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                         aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                            clip-rule="evenodd"/>
                    </svg>
                  </span>
                    </button>
                  </h3>
                  <!-- Filter section, show/hide based on section state. -->
                  <div class="pt-6" id="filter-section-1">
                    <div class="space-y-4">
                      <div class="flex items-center">
                        <input id="filter-category-0" name="category[]" value="new-arrivals" type="checkbox"
                               class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                        <label for="filter-category-0" class="ml-3 text-sm text-gray-600">New Arrivals</label>
                      </div>

                      <div class="flex items-center">
                        <input id="filter-category-1" name="category[]" value="sale" type="checkbox"
                               class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                        <label for="filter-category-1" class="ml-3 text-sm text-gray-600">Sale</label>
                      </div>

                      <div class="flex items-center">
                        <input id="filter-category-2" name="category[]" value="travel" type="checkbox" checked
                               class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                        <label for="filter-category-2" class="ml-3 text-sm text-gray-600">Travel</label>
                      </div>

                      <div class="flex items-center">
                        <input id="filter-category-3" name="category[]" value="organization" type="checkbox"
                               class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                        <label for="filter-category-3" class="ml-3 text-sm text-gray-600">Organization</label>
                      </div>

                      <div class="flex items-center">
                        <input id="filter-category-4" name="category[]" value="accessories" type="checkbox"
                               class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                        <label for="filter-category-4" class="ml-3 text-sm text-gray-600">Accessories</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="border-b border-gray-200 py-6">
                  <h3 class="-my-3 flow-root">
                    <!-- Expand/collapse section button -->
                    <button type="button"
                            class="flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400 hover:text-gray-500"
                            aria-controls="filter-section-2" aria-expanded="false">
                      <span class="font-medium text-gray-900">Size</span>
                      <span class="ml-6 flex items-center">
                    <!--
                      Expand icon, show/hide based on section open state.

                      Heroicon name: mini/plus
                    -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                         aria-hidden="true">
                      <path
                        d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"/>
                    </svg>
                        <!--
                          Collapse icon, show/hide based on section open state.

                          Heroicon name: mini/minus
                        -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                         aria-hidden="true">
                      <path fill-rule="evenodd" d="M4 10a.75.75 0 01.75-.75h10.5a.75.75 0 010 1.5H4.75A.75.75 0 014 10z"
                            clip-rule="evenodd"/>
                    </svg>
                  </span>
                    </button>
                  </h3>
                  <!-- Filter section, show/hide based on section state. -->
                  <div class="pt-6" id="filter-section-2">
                    <div class="space-y-4">
                      <div class="flex items-center">
                        <input id="filter-size-0" name="size[]" value="2l" type="checkbox"
                               class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                        <label for="filter-size-0" class="ml-3 text-sm text-gray-600">2L</label>
                      </div>

                      <div class="flex items-center">
                        <input id="filter-size-1" name="size[]" value="6l" type="checkbox"
                               class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                        <label for="filter-size-1" class="ml-3 text-sm text-gray-600">6L</label>
                      </div>

                      <div class="flex items-center">
                        <input id="filter-size-2" name="size[]" value="12l" type="checkbox"
                               class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                        <label for="filter-size-2" class="ml-3 text-sm text-gray-600">12L</label>
                      </div>

                      <div class="flex items-center">
                        <input id="filter-size-3" name="size[]" value="18l" type="checkbox"
                               class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                        <label for="filter-size-3" class="ml-3 text-sm text-gray-600">18L</label>
                      </div>

                      <div class="flex items-center">
                        <input id="filter-size-4" name="size[]" value="20l" type="checkbox"
                               class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                        <label for="filter-size-4" class="ml-3 text-sm text-gray-600">20L</label>
                      </div>

                      <div class="flex items-center">
                        <input id="filter-size-5" name="size[]" value="40l" type="checkbox" checked
                               class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                        <label for="filter-size-5" class="ml-3 text-sm text-gray-600">40L</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </aside>
          <main>
            <form class="flex items-center">
              <div class=" w-full">
                <input type="text"
                       class=" border border-gray-300 text-gray-900 rounded-xl focus:ring-blue-500 focus:border-blue-500  w-full p-2.5"
                       placeholder="Search" required>
              </div>
            </form>
            <div class="flex flex-wrap bg-white mt-4" *ngFor="let meal of meals">
              <div class="w-1/4 ">
                <img src="{{meal.strMealThumb}}" class="w-full rounded-l-3xl object-cover">
              </div>
              <div appAmIVisible (elementVisible)="getAlbumData($event)"
                   [isTargetElement]="meal.idMeal == meals[meals.length - 1].idMeal "
                   class="w-3/4 p-3 border rounded-r-3xl flex flex-col justify-around">
                <div>
                  <h2 class="text-lg font-medium">{{meal.strMeal}}</h2>
                  <p class="text-gray-600">{{(meal.strInstructions.length > 150) ?
                    (meal.strInstructions | slice:0:150) + '...' : (meal.strInstructions)}}</p>
                </div>
                <div class="flex item-center mt-2">
                  <svg class="w-5 h-5 fill-current text-gray-700" viewBox="0 0 24 24">
                    <path
                      d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                  </svg>
                  <svg class="w-5 h-5 fill-current text-gray-700" viewBox="0 0 24 24">
                    <path
                      d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                  </svg>
                  <svg class="w-5 h-5 fill-current text-gray-700" viewBox="0 0 24 24">
                    <path
                      d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                  </svg>
                  <svg class="w-5 h-5 fill-current text-gray-500" viewBox="0 0 24 24">
                    <path
                      d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                  </svg>
                  <svg class="w-5 h-5 fill-current text-gray-500" viewBox="0 0 24 24">
                    <path
                      d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                  </svg>
                </div>
                <div class="flex item-center justify-between mt-3">
                  <h1 class="text-gray-700 font-bold text-xl">$220</h1>
                  <button class="px-3 py-2 bg-gray-800 text-white text-xs font-bold uppercase rounded">Add to Card
                  </button>
                </div>
              </div>
            </div>
          </main>
        </div>
      </section>
    </main>
  </div>
</div>
