<div>
  <div>
    <main class="mx-16 px-4">
      <section class="pt-6 pb-4">
        <div class="wrapper">
          <app-side-filter></app-side-filter>
          <main>
            <app-search-bar></app-search-bar>
            <ng-container *ngIf="mealsSample.length;else notFound;">
            <div class="flex flex-wrap bg-white mt-4" *ngFor="let meal of mealsSample">
              <div class="w-1/4 cursor-pointer" (click)="openMealDetails(meal.idMeal)">
                <img src="{{meal.strMealThumb}}" class="w-full rounded-l-3xl object-cover">
              </div>
              <div
                   class=" w-3/4 p-3 border rounded-r-3xl flex flex-col justify-around">
                <div>
                  <a class="text-lg font-medium cursor-pointer" (click)="openMealDetails(meal.idMeal)">{{meal.strMeal}}</a>
                  <p class="text-gray-600">{{(meal.strInstructions.length > 150) ?
                    (meal.strInstructions | slice:0:150) + '...' : (meal.strInstructions)}}</p>
                </div>

                <div class="flex item-center justify-between mt-3">
                  <button>
                    <svg class="fill-white w-auto h-6 stroke-1 stroke-orange-400 hover:fill-orange-400 "  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/></svg>
                  </button>
                  <button (click)="addCart(meal)" class="focus:outline-0 px-3 py-2 bg-orange-400 text-white text-xs font-bold uppercase rounded  hover:bg-orange-500">Add to Card
                  </button>
                </div>
              </div>
            </div>
            </ng-container>
            <ng-template #notFound>
              Not found !
            </ng-template>
            <div id="divDetector" class="bg-green-600 w-full h-10"></div>
          </main>
        </div>
      </section>
    </main>
  </div>
</div>
