<div>
  <ul class=" shadow-xl border-b-2 bg-white border-gray-100 flex justify-center sticky top-0">
    <li>
      <a href="#"
         class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-full  px-4 py-2 text-xs font-medium  hover:bg-gray-200 hover:no-underline hover:text-black">Tout</a>
    </li>
    <li>
      <a href="#"
         class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-full  px-4 py-2 text-xs font-medium  hover:bg-gray-200 hover:no-underline hover:text-black">Boeuf</a>
    </li>
    <li>
      <a href="#"
         class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-full  px-4 py-2 text-xs font-medium hover:bg-gray-200 hover:no-underline hover:text-black">Boeuf</a>
    </li>
    <li>
      <a href="#"
         class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-full  px-4 py-2 text-xs font-medium  hover:bg-gray-200 hover:no-underline hover:text-black">Boeuf</a>
    </li>
    <li>
      <a href="#"
         class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-full  px-4 py-2 text-xs font-medium hover:bg-gray-200 hover:no-underline hover:text-black">Boeuf</a>
    </li>
    <li>
      <a href="#"
         class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-full  px-4 py-2 text-xs font-medium  hover:bg-gray-200 hover:no-underline hover:text-black">Boeuf</a>
    </li>
    <li>
      <a href="#"
         class="ml-8 inline-flex items-center justify-center whitespace-nowrap rounded-full  px-4 py-2 text-xs font-medium hover:bg-gray-200 hover:no-underline hover:text-black">Boeuf</a>
    </li>
  </ul>
  <div>
    <main class="mx-16 px-4">
      <section class="pt-6 pb-4">
        <div class="wrapper">
          <app-side-filter></app-side-filter>
          <main>
            <app-search-bar></app-search-bar>
            <ng-container *ngIf="mealsSample.length;else notFound;">
            <div class="flex flex-wrap bg-white mt-4" *ngFor="let meal of mealsSample">
              <div class="w-1/4 cursor-pointer" (click)="openMealDetails(meal.idMeal)">
                <img src="{{meal.strMealThumb}}" class="w-full rounded-l-3xl object-cover">
              </div>
              <div
                   class="cursor-pointer w-3/4 p-3 border rounded-r-3xl flex flex-col justify-around" (click)="openMealDetails(meal.idMeal)">
                <div>
                  <h2 class="text-lg font-medium">{{meal.strMeal}}</h2>
                  <p class="text-gray-600">{{(meal.strInstructions.length > 150) ?
                    (meal.strInstructions | slice:0:150) + '...' : (meal.strInstructions)}}</p>
                </div>
                <div class="flex item-center mt-2">
                  <svg class="w-5 h-5 fill-current text-gray-700" viewBox="0 0 24 24">
                    <path
                      d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                  </svg>
                  <svg class="w-5 h-5 fill-current text-gray-700" viewBox="0 0 24 24">
                    <path
                      d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                  </svg>
                  <svg class="w-5 h-5 fill-current text-gray-700" viewBox="0 0 24 24">
                    <path
                      d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                  </svg>
                  <svg class="w-5 h-5 fill-current text-gray-500" viewBox="0 0 24 24">
                    <path
                      d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                  </svg>
                  <svg class="w-5 h-5 fill-current text-gray-500" viewBox="0 0 24 24">
                    <path
                      d="M12 17.27L18.18 21L16.54 13.97L22 9.24L14.81 8.63L12 2L9.19 8.63L2 9.24L7.46 13.97L5.82 21L12 17.27Z"/>
                  </svg>
                </div>
                <div class="flex item-center justify-between mt-3">
                  <h1 class="text-gray-700 font-bold text-xl">$220</h1>
                  <button class="px-3 py-2 bg-gray-800 text-white text-xs font-bold uppercase rounded">Add to Card
                  </button>
                </div>
              </div>
            </div>
            </ng-container>
            <div id="divDetector" class="bg-green-600 w-full h-10"></div>
        <ng-template #notFound>
              Not found !
            </ng-template>
          </main>
        </div>
      </section>
    </main>
  </div>
</div>
